/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root {
    /* Colors */
    --sidebar-color: #b7d2f0;
    --main-text-color: #7FB2C8;
    --main-header_text-color: #8CE3C4;
    --hero-photo-color: #B2EA85;
    --footer-color: #e1e43b;
    --main-color: #EA8222;
    --header-color: #FEB1B1;
    /* Dimensions */
    --margin-header-hero_photo: 2vh;
    --margin-hero_photo-main_text: 2vh;
    --margin-main_text-footer: 2vh;
    --main-text-gutter: 1vw;
}


/* /Common */


/* Debug */

.debug .site_header {
    height: 12vh;
    background-color: var(--header-color);
    margin-bottom: var(--margin-header-hero_photo);
}

.debug .site_main {
    height: 78vh;
    background-color: var(--main-color);
    margin-bottom: var(--margin-main_text-footer);
}

.debug .hero-photo {
    height: 42%;
    background-color: var(--hero-photo-color);
    margin-bottom: var(--margin-hero_photo-main_text);
}

.debug .main-text-header {
    height: 7vh;
    background-color: var(--main-header_text-color);
    margin-bottom: 1vh;
}

.debug .sidebar {
    width: 10vw;
    height: 35.3vh;
    background-color: var(--sidebar-color);
    float: left;
}

.debug .text {
    float: left;
    width: 58vw;
    height: 35.3vh;
    background-color: var(--main-text-color);
    margin: 0 var(--main-text-gutter);
}

.debug .site_footer {
    height: 6vh;
    background-color: var(--footer-color);
}


/**************************** Body *****************************/

body {
    width: 80vw;
    margin: auto;
}


/********* .Site_header **********/


/********* /.Site_header **********/


/********* .Site_main **********/


/***** .hero-photo *****/


/***** /.hero-photo *****/


/***** .main-text-container *****/


/***** /.main-text-container *****/


/********* /.Site_main **********/


/********* .Site_footer **********/


/********* /.Site_footer **********/