/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root {
    /* Colors */
    --sidebar-color: #b7d2f0;
    --main-text-color: #7FB2C8;
    --main-header_text-color: #8CE3C4;
    --main-photo-color: #B2EA85;
    --footer-color: #e1e43b;
    --main-color: #EA8222;
    --header-color: #FEB1B1;
    /* Dimensions */
    --margin-header-main_photo: 2vh;
    --margin-main_photo-main_text: 2%;
    --margin-main_text-footer: 2vh;
    --main-text-gutter: 1vh;
}


/* /Common */


/**************************** Body *****************************/

body {
    padding: 0 30%;
}


/********* .Site_header **********/

.site_header {
    height: 12vh;
    background-color: var(--header-color);
    margin-bottom: var(--margin-header-main_photo);
}


/********* /.Site_header **********/


/********* .Site_main **********/

.site_main {
    height: 78vh;
    background-color: var(--main-color);
    margin-bottom: var(--margin-main_text-footer);
}


/***** .main-photo *****/

.main-photo {
    height: 42%;
    background-color: var(--main-photo-color);
    margin-bottom: var(--margin-main_photo-main_text);
}


/***** /.main-photo *****/


/***** .main-text-container *****/

.main-text {
    text-align: center;
}

.main-text-header {
    height: 5vh;
    background-color: var(--main-header_text-color);
    margin-bottom: 1vh;
}

.sidebar {
    width: 11vh;
    height: 36vh;
    background-color: var(--sidebar-color);
}

.sidebar-left {
    float: left;
    margin-right: var(--main-text-gutter);
}

.sidebar-right {
    float: right;
    margin-left: var(--main-text-gutter);
}

.text {
    display: inline-block;
    width: 61vh;
    height: 36vh;
    background-color: var(--main-text-color);
}


/***** /.main-text-container *****/


/********* /.Site_main **********/


/********* .Site_footer **********/

.site_footer {
    height: 6vh;
    background-color: var(--footer-color);
}


/********* /.Site_footer **********/